Lib/cakephp-lib
Config/conflistConfigPrivate.php
db_migrate.php
webroot/algtop-conf-dump*

tmp/cache/models/myapp*
tmp/cache/persistent/myapp*

*~

webroot/error_log
tmp/logs/error.log
tmp/logs/debug.log
