Lib/cakephp-lib
Lib/vendors
Config/conflistConfigPrivate.php
db_migrate.php
webroot/algtop-conf-dump*

View/Conferences/unused

tmp/cache/models/myapp*
tmp/cache/persistent/myapp*
tmp/cache/group_b/*
tmp/tests*

*~

Console/error_log

webroot/php.ini
webroot/error_log
webroot/php_errorlog
webroot/php_mail.log
tmp/logs/error.log
tmp/logs/debug.log
